*{
    margin: 0;
    padding: 0;
border: 0;
}

body{
    background: rgba(179, 101, 25, 0.4);
}
h1{
    padding-top: 10rem;
    text-align: center;
    text-transform: capitalize;
}

img{
    width: 30vw;
    height: 70vh;
    border-radius: 10px;
}