*{
    padding: 0;
    margin: 0;
    border: 0;
    /* box-sizing: border-box; */
}

html{
  
}

.header{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
    background-color: rgba(158, 112, 101, 0.856);
    text-decoration: none;
    height: 50px;
    width: 100%;
    /* cursor: pointer; */
    /* position: fixed; */
}

.header-link:hover{
transition: 0.3s;
color: #b98b61;
}

.header .header-link{
    text-decoration: none;
    color: rgba(80, 25, 25, 0.795);
    padding-bottom: 10px;
}
.header li a:hover{
    color: rgb(197, 148, 135);
}


/* My Name and Keyboard */
.name{
    font-size: 3rem;
  /* font-family: Tahoma, sans-serif; */
    font-weight: 900;
    text-align: center;
    padding-top: 180px;
    letter-spacing: 15px;
}

.all-text{
    /* max-width: 600px; */
    /* height: 150px; */
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
    background-image: url(./img/wood-2.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  font-family: Tahoma, sans-serif;
}

.work{
    text-align: center;
    letter-spacing: 25px;
     font-size: 2rem;
    padding-top: 15px;
    }

.image center img{
    width: 40%;
    margin-top: 100px;
}
/* End of My Name and Keyboard */



/* Social Link */

.social-links{
    text-align: center;
    padding-top: 50px;
  transition: 0.3s;
    /* justify-content: space-evenly; */
    font-size: 2rem;
}

.social-links a i{
    color: rgb(128, 86, 75);
    width: 10%;
}
.social-links a .fab:hover{
    transition: 1.5s;
    transform: scale(1.3);
}
/* End of Social Link */

 /* Date to Publish my domain */
.domain-info{
  text-transform: capitalize;
  /* line-height: 70px; */
  color: rgb(128, 86, 75);
  padding-top: 5rem;
}

.domain-info h3{
  font-size: 3rem;
  text-align: center;
  padding-bottom: 30px;
}

.last-date{
font-size: 2rem;
text-align: center;
padding-bottom: 20px;
letter-spacing: 5px;
}

.domain-info p{
  font-size: 1.5rem;
  padding-bottom: 20px;
  text-align: center;
  }

  .deadline{
    display: flex;
    margin-left: 42%;
    padding-top: 40px;
  }

  .deadline-format{
  background-color: rgba(158, 112, 101, 0.856);
  color: rgb(128, 86, 75);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  }

  
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
}

  .days, .hours, .mins{
    
  }






/* --------------------------------------------- */

/* Project section */

.project-section{
    position: relative;
}
.project{
    margin-top: 30rem;
    text-align: center;
    color: rgba(124, 62, 49, 0.979);
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-bottom: 100px; */

} 

center .line{
    border: 1px solid rgba(194, 139, 126, 0.856);
    width: 40%;
}

.project-section .bg-image{
    position: absolute;
    top: 200px;
    left: 25%;
    max-width: 55rem;
    z-index: -10;
}


.bg-image img {
    width: 100%;
  }


  .project-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 120px 0 50px;
  }

  .individual-project{
    background-color: rgba(255, 255, 255, 0.8);
    width: 290px;
    height: 400px;
    border: 3px solid rgba(179, 101, 25, 0.4);
    border-radius: 5px;
    margin: auto 20px 80px;
    position: relative;
  }

  .project-icon {
    width: 120px;
    height: 120px;
    border: 3px solid rgba(179, 101, 25, 0.4);
    border-radius: 50%;
    margin: -60px auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-icon i {
    border-radius: 5px;
    font-size: 5rem;
    color: rgba(124, 62, 49, 0.979);
  }

  
.project-content {
    padding: 5rem 1.5rem;
  }
  
  .project-content h2 {
    font-weight: 900;
    color: rgba(124, 62, 49, 0.979);
    border-bottom: 3px solid rgba(124, 62, 49, 0.979);
    padding-bottom: 5px;
    text-align: center;
  }
  
  .project-content ul li {
    color: #964b00;
  font-family: Tahoma, sans-serif;
    font-size: 1.2rem;
    margin: 20px auto;
    padding-left: 20px;
  }

  .project-content button {
    font-family: "Roboto Slab", serif;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    background: rgba(124, 62, 49, 0.979);
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid rgba(194, 139, 126, 0.856);
    border-radius: 3px;
    transition: background-color 0.4s;
  }

  .project-content button:hover {
    background: rgba(179, 101, 25, 0.4);
    transition: 0.4s;
    }

  .project-content button a {
    text-decoration: none;
    color: #fff;
  }


  .project-content button a:hover {
    color: rgba(194, 139, 126, 0.856);
  }


/* End of Project Section */

/* -------------------------------- */


/* About Section */

.about{
    margin: auto;
    min-height: 70vh;
}

section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.about h1{
    color: #964a00;
    text-align: center;
    font-size: 50px;
}

.about-me-text{
    color: #964a00;
    font-size: 22px;
    max-width: 700px;
    margin: auto 40px;
    text-transform: capitalize;
}

section img{
    width: 120px;
  margin: 30px 0px;
  transform: rotate(35deg);
}

aside a{
    display: flex;
  color: #964a00;
  padding-top: 20px;
  padding-left: 40px;
}

aside a p{  
    text-decoration: none;
}

aside a p {
    margin: 0;
    padding-left: 10px;
    font-size: 18px;
  }

/* End of About Section */

/* --------------------------------------- */

/* Contact Us Section */
.contact-form{
    margin: 40px auto 80px;
    max-width: 500px;
    color: #964a00;
}

.form-control{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .form-control input {
    border: 3px solid rgba(124, 62, 49, 0.979);
    padding-left: 5px;
    height: 30px;
    outline: none;
  }
 
  textarea::placeholder,
  input::placeholder {
  color: rgba(179, 101, 25, 0.8);
  font-family: Tahoma, sans-serif;
}

  
  .form-control textarea {
    border: 3px solid rgba(124, 62, 49, 0.979);
    outline: none;
    resize: none;
  }

  .contact #contact{
    text-align: center;
    font-size: 4rem;
    /* display: block; */
    /* font-family: Tahoma, sans-serif; */
  }

  
  .section-title{
      color: rgba(124, 62, 49, 0.979);
  }

.textarea-control{
    width: 100%;
}

.form-control button {
    font-family: Tahoma, sans-serif;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background: rgba(124, 62, 49, 0.979);
    outline: none;
    border: 1px solid #964a00;
    transition: all 0.3s;
  }


.form-control button:hover {
    color: #964a00;
    background-color: rgba(179, 101, 25, 0.4);
    transition: 0.3s;
}

































/* Media Queries */


@media screen and (max-width: 1145px) {

.header{
    justify-content: space-evenly;
}

.name{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 7px;
}

.work{
    /* font-weight: 500; */
    font-size: 2rem;
}

}


@media screen and (max-width: 725px) {

    .header{
        justify-content: space-evenly;
    }
    
    .name{
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: 5px;    
    }
    .work{
        /* font-weight: 500; */
        font-size: 2rem;
    }

    .bg-image img {
    display: none;
    }

    /* .project-body{
        display: block;
    } */

    }
    @media screen and (max-width: 630px) {

        .header{
            justify-content: space-evenly;
        }
        
        .name{
            font-size: 1.7rem;
            font-weight: 700;
            letter-spacing: 5px;
        }

        .work{
            /* font-weight: 500; */
            font-size: 2rem;
        }

        /* .project-body{
            display: block;
        } */
        
        }






        @media screen and (max-width: 518px) {

            .header{
                justify-content: space-evenly;
            }
            
            .name{
                font-size: 1rem;
                font-weight: 900;
                letter-spacing: 5px;   
            }
            .work{
                letter-spacing: 15px;
                /* font-weight: 500; */
                font-size: 1rem;
            }
            
            }
    




















